/* Page Specific CSS */

.parallax-window {
    max-height: 65vh;
    min-height: 400px;
    background: transparent;
    margin-left: -22vw;
    margin-right: -22vw;
}

#header-image {
    padding-top: 0px;
}

#header-text {
    color: white;
    padding-top: 170px;
}