/*Globals*/
body {
    font-family: 'Montserrat', sans-serif;
}

/*Carousel*/
    .carousel-inner{
        width:100%;
        max-height: 50vh !important;
    }

    .carousel-item {
    vertical-align: middle;
    display: table-cell;
    text-align:center;
    }

    .carousel-inner img{
    display:inline-block  !important;
    }

.container-fluid {
    padding: 10vh 0 10vh 0;
    overflow: hidden;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
    margin-left: -22vw;
    margin-right: -22vw;
}

#header-image {
    padding-top: 0px;
}

#header-text {
    color: white;
    padding-top: 170px;
}

.quote {
    height: 100%;
}

.jumbotron {
    background-image: url("https://res.cloudinary.com/simpleview/image/upload/v1486505969/clients/vancouverbc/Aerial_Sunset_Vancouver_d3_copy_1bb86ed0-1edc-4cda-841d-0b033ca0bb72.jpg");
    background-size: cover;
}

.main-article {
    width: 60%;
    height: auto;
}