#img-wrap-1{
    background-image: url(https://scratchmapprojecthome.files.wordpress.com/2019/12/11435181260570256582.jpg?strip=info&w=2000);
    background-repeat: no-repeat;
    background-size: cover;
}